.body{
    min-height: 100vh;
    width: 100%;
    background: hsl(59, 88%, 50%);
  }
  .title{
    text-align: center;
    color: rgb(158, 13, 37);
    font-size: 35px;
   font-style: italic;

  }
  .subT{
    color:blue;
    font-size: 20px;
  }
  .cls1{
    background-color: rgb(224, 12, 12);
    font-size: 30px;
  }
  .cls2{
    background-color: rgb(241, 8, 183);
    font-size: 30px;
  }
  .cls3{
    background-color: rgb(10, 14, 243);
    font-size: 30px;
  }