<div class="body">
    <div class="title">&#x2022; DIRECTIVE &#x2022;</div>
    <div class="subT"> &#x2022; Structural Directive &#x2022;</div>
    <br><br>
    <button (click)="Adress()">Address</button>
    <button (click)="cityy()">City</button>
    <!--<button (click)="flower()">Flowers</button> -->

    <div *ngIf="toAdd">A/P Hiralage Tal-gadhinglaj Dist-Kolhapur</div>
    <div *ngIf="tocity">Kolhapur...</div>
    <!--<div>{{flowers}}</div> -->

    <ul *ngFor="let flowerName of flowers">
        <li>{{flowerName}}</li>
    </ul>

    <ul *ngFor="let empImfo of employee">
        <li>{{empImfo.emp_Name}} - {{empImfo.emp_age}}</li>
    </ul>
<input type="text" [(ngModel)]="inputValue">
<button (click)="inputBoxVal()">submit</button>

<div [class.cls1] = "inputValue == 50" 
[class.cls2] = "inputValue == 70"
[class.cls3] = "inputValue == 90">
I Am Good Developer ....
</div>

<div [ngClass]="rating == 4 ? 'ngcls1' : 'ngcls2' ">
    I like Kolhapur.....
   </div>

</div>