<div class="demo">
<p>sub-landing works!</p>
<form [formGroup]="subjectForm">
    <div>Name</div>
    <input type="text" formControlName="name">
    <div>Password</div>
    <input type="text" formControlName="password">
    <div>
        <button (click)="submit()">Submit</button>
    </div>
    <br>
    <div>
        <button (click)="Viewchild()">ViewChild</button>
    </div>
    <div #sentence>
        <p>GOOD Developer</p>
    </div>
</form>





<br>  <br><br><br>
*********************************************************************************************************************
<app-sub1></app-sub1>












<br>  <br><br><br>
**********************************************************************************************************************
<app-sub2></app-sub2>











 <br><br><br><br>
</div>