<div class="demo">
<p>sub-landing works!</p>
<form [formGroup]="subjectForm">
    <div>Name</div>
    <input type="text" formControlName="name">
    <div>Password</div>
    <input type="text" formControlName="password">
    <div>
        <button (click)="submit()">Submit</button>
    </div>
</form>














*********************************************************************************************************************
<app-sub1></app-sub1>













**********************************************************************************************************************
<app-sub2></app-sub2>












</div>