.main{
    background-color:#e6bb45;
    height: 844px;
    width: 90rem;
    // background-image: url('/assets/Images/nature.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
}
.title-section{
    margin: auto;
    text-align: center;
}
.city-info{
    font-size: 30px;
    font-family: 'Courier New';
    color: #88136f;
}
.nav{
    background-color: #7198ec;
}
.nav{
    color: #f31515;
}









