<div class="main" >
  <div class="nav">
    <h1 class="title-section">{{title}}</h1>
  </div>


    <p class="city-info">{{city}}</p>
    <p>{{flowers}}</p>

    
      
   <br>
   
<p> {{20+10}}</p>
<p>{{num1 === num2}}</p>

<div>
 Name: <input type="text" [value]=city2> <br>
 <input type="text" [value]=flowers>
 <br>
 <br>
 flowerName:<input type="text" [value]=flower>
 <br>
 <br>
 studentInfo : <input type="text" [value]=emplooyee.company>
 <br>
 <br>
 Gender : <br>
 Male : <input type="radio" [value]="genderM" name="gender" (change)="gen($event)">
 Female : <input type="radio" [value]="genderF" name="gender" (change)="gen($event)">

 <br>
 <br>
 No1:<input type="text" [(ngmodel)]="no1" >
 No2:<input type="text" [(ngmodel)]="no2" >
 <button (click)="Addition"></button>


</div>

   
</div>

<router-outlet></router-outlet>



